@model HomeModel
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center ">
    <h1 class="display-4 font-weight-bold">Welcome</h1>
    <span>This is a Contact Controller System developed with ASP.NET and MVC frameworks.</span>
</div>
