
@{
    Layout = "_LayoutUnlogged";
    ViewData["Title"] = "Restricted Page";
}

<h1>You don't have permission to access this function, <a asp-controller="Home" asp-action="Index">click here to go back home.</a></h1>

