@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutUnlogged";
}

@if (TempData["SuccessMessage"] != null)
{
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["SuccessMessage"]
            </div>
}

@if (TempData["ErrorMessage"] != null)
{
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["ErrorMessage"]
                </div>
}

<form asp-controller="Login" asp-action="SendResetLink" method="post">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="text" asp-for="Email" class="form-control" id="email">
        @Html.ValidationMessageFor(x => x.Email)
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="remember">
    <label class="form-check-label" for="remember">Remember Me</label>
  </div>

  <p class="mb-4 text-sm-left mx-auto">
      <a asp-action="ResetPassword" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Forgot the password?</a>
  </p>

  <button type="submit" class="btn btn-primary">Login</button>
  <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Login" role="button">Return</a>
</form>

